# See http://help.github.com/ignore-files/ for more about ignoring files.

# Ignore node modules
node_modules/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore cache and temporary files
.cache/
.vs/
obj/
bin/

